.page {
  height: 100%;
  line-height: 1.5;
  font-family: $basic-font;
}

.page__body {
  display: grid;
  align-content: start;
  min-width: $bg-width;
  min-height: 100%;
  text-align: center;
  grid-template-rows: min-content 1fr min-content;
}
