// Colors
$black-basic: #000000;
$white-basic: #ffffff;
$white-extra: #f9f4e9;
$gray-basic: #bcbec1;
$gray-extra: #b5b5b5;
$gray-light: #eeeeee;
$gray-light-extra: #d3d3d3;
$purple-basic: #ca86ff;
$yellow-basic: #ffc419;
$beige-light: #f9f4e9;
$red-basic: #ff323a;
$text-shadow: rgba(#231b20, 0.004);

$header-bg: #2a2424;
$chars-bg: #2b2a30;
$events-bg: #1a1033;
$mount-bg: #514338;
$footer-bg: #3e3935;

// Fonts
$basic-font: "Lora", "Times New Roman", serif;


// Other
$bg-width: 1920px;
$base-index: 0;
$sect-top-padding: 20px;
$sect-bottom-padding: 40px;
$transition-duration: 150ms;
